:root {
  --bg-black: #120e0b;
  --yellow: #fdcf85;
  --white: #fff;
  --transition: all 150ms ease-out;
  --invalid: rgba(228, 53, 53, 0.7);
  --valid: rgb(30, 126, 57);
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--bg-black);
  overflow: hidden;
}

header {
  width: 35%;
  position: relative;
}

header img {
  background-size: cover;
  width: 100%;
  z-index: -1;
}

#text-logo {
  font-family: Lato, sans-serif;
  position: absolute;
  color: var(--yellow);
  left: 53%;
  translate: -50%;
  top: 38%;
  text-align: center;
}

#text-logo h1 {
  font-size: 2rem;
  font-weight: bold;
}

#text-logo h2 {
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
}

main {
  width: 65%;
  font-family: Roboto, sans-serif;
  border-left: 2px solid var(--yellow);
  color: var(--white);
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > div p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

main > div p:first-child {
  width: min(100%, 600px);
}

form {
  width: 100%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12%;
  border: 2px solid var(--yellow) !important;
  padding: 10px 40px !important;
}

fieldset legend {
  font-size: 1.25rem;
  margin-bottom: 10px;
  padding: 1px 10px !important;
}

fieldset > div {
  display: flex;
  flex-direction: column;
}

fieldset > div:last-child {
  width: 100%;
}

fieldset > div label {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 75%;
  color: var(--yellow);
  width: fit-content;
}

fieldset > div input {
  font-size: 1rem;
  width: 280px;
  height: 40px;
  margin-top: 8px;
  padding: 0 12px;
  outline: none;
  font-weight: bold;
  border: 2px solid var(--yellow);
  border-radius: 5px;
  background-color: var(--bg-black);
  color: var(--yellow);
}

fieldset > div input[type='password'] {
  font-family: 'fontello';
  font-variant: normal;
  text-transform: none;
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
}

fieldset > div input:focus {
  background-color: var(--yellow);
  color: var(--bg-black);
  border-color: var(--yellow);
}

fieldset > div input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--invalid);
}

fieldset > div input:not(:focus):valid {
  border-color: var(--valid);
  color: var(--valid);
}

fieldset > div span {
  opacity: 0;
  cursor: default;
  margin: 8px 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.alert-input {
  color: var(--invalid);
  opacity: 100;
}

button {
  width: fit-content;
  font-size: 1rem;
  padding: 10px 25px;
  font-weight: bold;
  background-color: var(--yellow);
  border: 1px solid var(--bg-black);
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: var(--bg-black);
  border-color: var(--yellow);
  color: var(--yellow);
  cursor: pointer;
}

button:active {
  opacity: 75%;
}

form p {
  margin-top: 10px;
}

form a {
  text-decoration: none;
  color: var(--yellow);
}

form a:hover {
  text-decoration: underline;
}

form a:active {
  opacity: 75%;
}
